@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* 
font-family: 'Bebas Neue', sans-serif;
*/


/* PROPIEDADES GLOBALES */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Bebas Neue', sans-serif;
    background-color: #004872;
}

/* N A V B A R */
header nav,
.sidebar{
    background-color: black;
}
.logo{
    width: 60px;
    padding: 10px;
}
.nav-link{
    text-decoration: none;
    color: #ececec;
    font-size: 20px;
}

/* T I T U L O   P R I N C I P A L (De todas las paginas)*/
.principal{
    margin-top: 80px;
    overflow: hidden;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.principal img{
    object-fit: cover;
    width: 100%;
    filter: blur(2px);
    opacity: 50%;
    position: absolute;
}
.principal h1{
    font-size: 90px;
    text-shadow: 0px 0px 40px #000000ab;
    text-align: center;
    color: white;
    z-index: 3; /* para que se acomode arriba */
}

/* M E D I A   Q U E R Y   T I T U L O */

/* DESKTOP FIRST*/
@media(max-width: 650px){
    .principal{
        height: 150px;
    }
    .principal h1{
        font-size: 45px;
    }
}


/* F O O T E R (De todas las paginas) */
footer{
    background-color: rgb(27, 27, 27);
    color: white;
    text-align: center;
    padding: 50px;
}
footer h2{
    font-size: 60px;
}
.redes{
    display: flex;
    justify-content:center;
    align-items: center;
}
.redes img{
    height: 70px;
    padding: 0 15px;
}

/* M E D I A   Q U E R Y   F O O T E R */

/* DESKTOP FIRST*/
@media(max-width: 650px){
    footer h2{
        font-size: 30px;
    }
    .redes img{
        height: 30px;
    }
}

/* P A G I N A   P R I N C I P A L*/
.contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.jugador1, .jugador2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: rgb(238, 238, 238);
}
.jugador1{
    background-color: #121212;
    flex-direction: row-reverse;
}
.jugador2{
    background-color: #01a5e6;
}
.description{
    width: 900px;
    font-size: 30px;
    text-align: center;
}
.jugador1 img,
.jugador2 img{
    object-fit: contain;
    height: 600px;
    padding-top: 25px;
}

/* M E D I A   Q U E R Y   P R I N C I P A L */

/* DESKTOP FIRST*/
@media (min-width:651px) and (max-width: 1000px){
    .jugador1 img,
    .jugador2 img{
        width: 75%;
        height: 100%;
        max-height: 500px;
    }
    .description{
        font-size: 25px;
        padding: 25px;
    }
}
@media (max-width:650px){
    .jugador1 img,
    .jugador2 img{
        width: 75%;
        height: 100%;
        max-height: 300px;
    }
    .description{
        font-size: 13px;
        padding: 25px;
    }
}

/* P A G I N A   C O N T A C T O */
.cont-form{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.formularios{
    width: 900px;
    height: 100%;
}
.contacto{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 40px 200px;
    gap: 15px;
    grid-template-areas:'b1 b1 b1'
                        'b2 b2 b3'
                        'b4 b4 b4';
}
.datos input,
.datos textarea{
    padding:10px;
    width: 100%;
    height: 100%;
    background-color: #494949;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}
.boton input{
    width: 100%;
    height: 100%;
    margin-top: 5px;
    padding:5px;
}
.b1{
   grid-area: b1; 
}
.b2{
   grid-area: b2; 
}
.b3{
   grid-area: b3; 
}
.b4{
   grid-area: b4; 
}
.b5{
   grid-area: b5; 
}
/* M E D I A   Q U E R Y   C O N T A C T O */

/* DESKTOP FIRST*/
@media(max-width: 650px){
    .contacto{
        display: block;
    }
    .contacto input{
        margin: 15px 0;
    }
    .cont-form{
        margin: 20px;
    }
}




/* P A G I N A   E S T A D I S T I C A S */
.style-1, .style-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.style-1{
    background-color: rgb(230, 230, 230);
}
.style-2{
    background-color: #01a5e6;
}
.stats{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}
.sectitle{
    font-size: 50px;
}
.list-stats{
    font-size: 30px;
}
.subtitle-1,
.subtitle-2{
    text-align: center;
    font-size: 80px;
}
.subtitle-1{
    color:#01a5e6;
}
.subtitle-2{
    color: aliceblue;
}
/* M E D I A   Q U E R Y   E S T A D I S T I C A S */

/* DESKTOP FIRST*/
@media(max-width: 650px){
    .stats{
        gap:50px
    }
    .subtitle-1,
    .subtitle-2{
        font-size: 50px;
    }
    .sectitle{
        font-size: 30px;
    }
    .list-stats{
        font-size: 20px;
    }
}

/* P A G I N A   P A R T I D O S */
.resultados-1{
    background-color: rgb(49, 49, 49);
}
.resultados-2{
    background-color: #11a9e6;
}
.final{
    background-color: rgb(255, 196, 0);
}
.banderas{
    object-fit: cover;
    width: 100%;
    border: 3px solid white;
    border-radius: 3px;
}
.seleccion{
    width: 30%;
    margin-top: 50px;
    text-align: center;
}
.partidos span{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 50px;
}
.paises, .resultados{
    color: aliceblue;
}
/* M E D I A   Q U E R Y   P A R T I D O S */

/* DESKTOP FIRST*/
@media(max-width: 650px){
    .partidos span{
        gap:30px;
    }
    .resultados-1 .subtitle-2,
    .resultados-2 .subtitle-2{
        font-size: 50px;
    }
}


/* P A G I N A   M O M E N T O S */
.galeria{
    padding: 30px 10px;
    background-color: rgb(20, 20, 20);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    grid-template-areas:'a1 a3 a4'
                        'a1 a7 a5'
                        'a1 a7 a5'
                        'a6 a2 a5 ';
}
.fotogaleria{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    padding: 5px;
}
.a1{
    grid-area: a1;
}
.a2{
    grid-area: a2;
}
.a3{
    grid-area: a3;
}
.a4{
    grid-area: a4;
}
.a5{
    grid-area: a5;
}
.a6{
    grid-area: a6;
}
.a7{
    grid-area: a7;    
}
/* M E D I A   Q U E R Y   M O M E N T O S */

/* DESKTOP FIRST*/
@media(max-width: 650px){
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 'a5 a3'
                             'a4 a4'
                             'a1 a7'
                             'a1 a2'
                             'a6 a6';
    }
}

/* P A G I N A   J U G A D O R E S */
.card{
    border:3px solid white;
    width: 350px;
    height: 100%;
    margin: 20px;
    background-color: #ffffff;
}
.card h2{
    font-size: 40px;
    color: #0f84e4;
    text-align: center;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cartas{
    gap: 0;
}
/* M E D I A   Q U E R Y   J U G A D O R E S */

/* DESKTOP FIRST*/
@media(max-width: 800px){
    .card{
        width: 250px;
    }
}