.card{
    border:3px solid white;
    width: 350px;
    height: 100%;
    margin: 20px;
    background-color: #ffffff;
    h2{
        font-size: 40px;
        color: #0f84e4;
        text-align: center;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
} 
.cartas{
    gap: 0;
}